.spacing {
    margin-right: 2.5%;
  }
  
  .main-container {
    display: flex;
  }
  
  label {
    font-size: 0.8rem;
  }
  
  input {
    width: 100%;
    border-radius: 5px;
    padding: 7px;
    margin-bottom: 10px;
  }
  
  .box {
    display: flex;
  }
  
  .conteiner div {
    display: flex;
    justify-content: space-around;
    align-content: center;
  }
  
  #full-container {
    display: flex;
    justify-content: space-around;
  }
  